@model Survey.Areas.Admin.ViewModels.SurveyViewModel
@{
    ViewBag.Title = "ایجاد سوال و جواب";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
    var counter = 1;
}

@using (Html.BeginForm("QuestionAnswer", "Survey", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="SurveyTitle" value="@Model.SurveyTitle" />
    <input type="hidden" name="SectionTitle" value="@Model.SectionTitle" />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })*@

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-md-3 control-label">عنوان یا سوال</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="QuestionTitle" placeholder="عنوان یا سوال" value="@Model.QuestionTitle" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">توضیحات</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="5" name="QuestionDescription">@Model.QuestionDescription</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">تصویر</label>
                <div class="col-md-9">
                    <input type="file" class="form-control" name="Question" placeholder="تصویر" required>
                </div>
            </div>
            <input type="submit" class="btn mce-btn-large btn-info" value="ثبت" />
        </div>
        <div class="col-md-4" style="border-right: 2px dashed darkgrey">
            @foreach (var item in Model.Questions)
            {
                <a href="@Url.Action("QuestionAnswer","Survey",new{questionName = item.GetEnumerator().Current.Title})">@counter. @item.GetEnumerator().Current.Title</a>
                <br />
                counter++;
            }
        </div>
    </div>
}

