@model Survey.Areas.Admin.ViewModels.SurveyViewModel
@{
    ViewBag.Title = "ایجاد سوال و جواب";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
    var counter = 1;
}

@using (Html.BeginForm("QuestionAnswer", "Survey", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off", enctype = "multipart/form-data" }))
{
    <input type="hidden" name="SurveyTitle" value="@Model.SurveyTitle" />
    <input type="hidden" name="SectionTitle" value="@Model.SectionTitle" />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-bloody-200" })
    @*@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })*@
    <input type="hidden"name="QuestionTitle" value="@Model.QuestionTitle">

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-md-3 control-label">عنوان یا سوال</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="NewQuestionTitle" placeholder="عنوان یا سوال" value="@Model.QuestionTitle" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">توضیحات</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="5" name="QuestionDescription">@Model.QuestionDescription</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">تصویر</label>
                <div class="col-md-9">
                    @if (Model.QuestionImageUrl != null)
                    {
                        <img class="img-responsive " id="survey_img" src="@Url.Content(Model.QuestionImageUrl)" height="40%" width="70%" style="border: 1px solid black" />

                    }
                    else
                    {
                        <img class="img-responsive " id="survey_img" height="40%" width="70%" style="border: 1px solid black" />

                    }

                    <input type="file" id="filePicker" name="filePicker" value="انتخاب تصویر" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">لیبل ابتدایی</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="StartLabel" placeholder="عنوان " value="@Model.StartLabel">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">لیبل انتهایی</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="EndLabel" placeholder="عنوان " value="@Model.EndLabel">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">پاسخ</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="Option" placeholder="عنوان یا سوال" value="@Model.Option" required>
                    <span class="text-bloody-500">پاسخ های خود را با " - " جدا کنید</span>
                </div>
            </div>

            <input type="submit" class="btn mce-btn-large btn-info" value="ثبت" />
        </div>
        <div class="col-md-4" style="border-right: 2px dashed darkgrey">
            @foreach (var item in Model.Questions)
            {
                <a href="@Url.Action("QuestionAnswer", "Survey", new {surveyName= Model.SurveyTitle ,sectionName= item.Section_Id,questinoTitle = item.Title })">@counter. @item.Title</a>
                <br />counter++;
            }
        </div>
    </div>
}

<a href="@Url.Action("Section",new {surveyName = Model.SurveyTitle,sectionName = Model.SectionTitle})">بازگشت به @Model.SectionTitle</a>



@section QuestionAnswer
{
    <script src="~/Areas/Admin/Assets/js/uploadImage.js"></script>

    <script type="text/javascript">
        function show(input) {
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#survey_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }
    </script>

}

